<?xml version="1.0" encoding="utf-8" ?>
<Project>

    <!-- Publish Properties -->
    <PropertyGroup>
        <!-- Build Configuration -->
        <OutputType>Exe</OutputType>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
        <EnableReadyToRun>true</EnableReadyToRun>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <DeleteExistingFiles>true</DeleteExistingFiles>

        <!-- Publish Configuration -->
        <PublishProfileName>ConsoleApp</PublishProfileName>
        <PublishDir>bin\Release\net9.0\_publish\</PublishDir>
    </PropertyGroup>
    <PropertyGroup Condition="$([MSBuild]::IsOSPlatform('Windows'))">
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    </PropertyGroup>
    <PropertyGroup Condition="$([MSBuild]::IsOSPlatform('macOS'))">
        <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
    </PropertyGroup>
    <PropertyGroup Condition="$([MSBuild]::IsOSPlatform('Linux'))">
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    </PropertyGroup>

    <!-- Delete Documentation Files -->
    <Target Name="DeleteAllXmlDocs" AfterTargets="Publish">
        <ItemGroup>
            <XmlDocFiles Include="$(PublishDir)/*.xml" />
        </ItemGroup>
        <Delete Files="@(XmlDocFiles)" />
    </Target>

</Project>