@use "sass:map";

$background-resources: (
    bg1: url("./resource/bg/background1.png"),
    bg2: url("./resource/bg/background2.png"),
    bg3: url("./resource/bg/background3.png")
);

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-style {
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.55);
    border: 1.25px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    transition: background-color 0.125s, border 0.125s, box-shadow 0.125s;
    pointer-events: all;
}

.box-style-red {
    @extend .box-style;
    background-color: rgba(255, 0, 0, 0.55);
    border: 1.25px solid rgba(255, 0, 0, 0.05);
}

.box-hover-style:hover {
    background-color: rgba(255, 255, 255, 0.70);
    border: 1.25px solid rgba(255, 255, 255, 0.30);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.box-hover-style-red:hover {
    @extend .box-hover-style;
    background-color: rgba(255, 0, 0, 0.70);
}

.spacer {
    flex-grow: 1;
}

.hidden {
    display: none !important;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.50em;
    gap: 0.50em;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

#controls button {
    position: relative;
    width: 100%;
    height: 100%;
}

#control-background {
    position: relative;
    height: 5vh;
    width: 3.5vw;
}

#control-open-tile-manager {
    position: relative;
    height: 5vh;
}

#grid {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    overflow: hidden;
    background-image: map.get($background-resources, "bg1");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0;
    z-index: 1;
}

#grid[data-background="1"] {
    background-position-x: -13px;
    background-image: map.get($background-resources, "bg2");
}

#grid[data-background="2"] {
    background-position: -32px;
    background-image: map.get($background-resources, "bg3");
}

.tile {
    width: var(--tile);
    height: var(--tile);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    &::after {
        content: "";
        position: absolute;
        top: -6.5%;
        left: -6.5%;
        width: 113%;
        height: 113%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
    }
    &:hover::after {
        background-image: url("../resource/selection-box.png");
        opacity: 1;
    }
}
.tile * {
    pointer-events: none;
}
.tile-img-container * {
    user-select: none;
}
.tile-img-container {
    position: absolute;
    display: flex;
    overflow: hidden;
}
.tile-img-container img {
    position: absolute;
}

#menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
    user-select: none;
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80%;
    width: 80%;
}

.menu-title-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 0.2em 1em;
}

.menu-title-bar .menu-title {
    position: relative;
    padding: 0;
    margin: 0;
}

.menu-title-bar .menu-close {
    border-radius: 200px;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 0, 0, 0.65);
    border: 2px solid rgba(0, 0, 0, 0.04);
}

.menu-title-bar .menu-close p {
    font-family: 'Courier New', Courier, sans-serif;
    font-weight: normal;
    color: transparent;
    font-size: 20px;
    text-shadow: none;
    transition: color 0.3s;
    margin-top: -7.5px;
    margin-left: -3px;
}

.menu-title-bar .menu-close:hover p {
    color: rgba(0, 0, 0, 0.50);
}

.menu-content {
    flex-grow: 1;
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    padding: 1em;
}

.form-group-small {
    @extend .form-group;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 0.75em 2em;

    label {
        margin: 0;
        white-space: nowrap;
    }
}

.menu-bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 0.6em 1em;
    gap: 0.5em;
}

#tile-editor-menu,
#property-manager-menu,
#sprite-editor-menu,
#sprite-layer-editor-menu {
    width: 50%;
}

.tm-tile,
.te-sprite,
.se-layer {
    @extend .box-style;
    @extend .box-hover-style;
    padding: 0.8em;
    margin-bottom: 0.2em;
}

.tm-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.tm-tile label {
    margin: 0;
}

#sle-picture-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    max-height: 64px;
    margin: 1em 0 0 0;
}
#sle-picture-preview {
    width: auto;
    max-width: 128px;
    height: auto;
    max-height: 64px;
}

#hotbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    z-index: 2;
}

#hotbar-contents {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 1em;
    gap: 0.2em;
}

#hotbar-contents span,
#hotbar-selector li {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid black;
    pointer-events: all;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.50);
        cursor: pointer;
    }
}

#hotbar-contents span.selected,
#hotbar-selector li.selected {
    border-color: rgba(255, 255, 255, 0.85);
}

#hotbar-contents span small,
#hotbar-selector li small {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
    padding: 0.2em;
    padding-right: 0.6em;
}

#hotbar-contents span img,
#hotbar-selector li img {
    background-color: transparent;
    padding: 0.2em;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}
#hotbar-contents span img[src=""] {
    display: none;
}

#hotbar-selector {
    position: absolute;
    bottom: calc(1em + 64px + 0.2em);
    min-width: 64px;
    height: 64px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 0.2em;
    pointer-events: all;
}
#hotbar-selector-list {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
}

#legend {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 18px;
    margin: 0.8em;
    padding: 0.6em;
    z-index: 2;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

#legend-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    padding: 0.6em;
    z-index: 2;

    &:hover {
        color: white;
    }
}